.player-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Limit the width for better aesthetics */
  padding: 10px;
  border: 2px solid var(--blue-grey);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player-list-container h2 {
  margin: 0 0 10px 0;
  color: var(--blue-grey);
  text-align: center;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px; /* Limit height to make it scrollable */
  overflow-y: auto;
  padding-right: 5px; /* Add space for scroll bar */
}

.player-list::-webkit-scrollbar {
  width: 8px;
}

.player-list::-webkit-scrollbar-thumb {
  background-color: var(--blue-grey);
  border-radius: 4px;
}

.player-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--red);
}

.player-list input {
  padding: 8px;
  border: 1px solid var(--blue-grey);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.add-player-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-player-button:hover {
  background-color: darkred;
}
